.chat-outer {
    display: flex;
    flex: 1;

    overflow: hidden;
    margin-left: var(--sidepanel-width-base);
    margin-right: var(--sidepanel-width-base);
}

.chat-inner {
    padding: 2rem;

    display: flex;
    justify-content: center;
    flex: 1;
}

.chat-container {
    --chat-conatiner-padding: 2rem;

    display: flex;
    flex-direction: column;

    max-width: 60rem;

    margin-left: 4rem;

    flex: 1;
    overflow: hidden;
}

.chat-dialogs-inner {
    overflow: auto;
    overflow: overlay;

    display: flex;
    flex-direction: row;
    flex: 1;

    gap: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.chat-messages-container {
    display: flex;

    flex: 1;
    overflow: hidden;
}