.chat-outer {
    display: flex;

    overflow: hidden;
    margin-left: var(--sidepanel-width-base);
    margin-right: var(--sidepanel-width-base);
}

.chat-inner {
    padding: 2rem;
    flex: 1;

    display: flex;
}

.chat-container {
    --chat-conatiner-padding: 2rem;
    padding: var(--chat-conatiner-padding) 0;

    display: flex;
    flex-direction: column;
    margin-left: 4rem;

    flex: 1;
}

.chat-dialogs-inner {
    overflow: auto;
    overflow: overlay;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-messages-container {
    flex: 1;
    max-height: 100%;
    overflow: hidden;
}