.base-layout {
    --sidepanel-width-base: 25rem;
    --notification-width-base: 20rem;

    min-height: 100vh;
    width: 100vw;

    display: flex;

    background-color: var(--greyLight-1);
}

.base-layout-inner {
    position: relative;

    flex: 1;
}

.base-layout-sidepanel {
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;

    width: var(--sidepanel-width-base);
}

.base-layout-content {
    height: 100%;
}