.chat-window {
    display: flex;
    flex: 1;
}

.chat-window-inner {
    display: flex;
    flex-direction: column;
    justify-content: end;

    flex: 1;
    background-color: var(--greyLight-1);

    overflow: hidden;
}

.chat-window-actions {
    padding: var(--chat-conatiner-padding);

    display: flex;
    gap: 1rem;
    border-radius: inherit;

    flex: 0;
}

.chat-window-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow: auto;
    overflow: overlay;
    scrollbar-gutter: stable;

    padding: 0 var(--chat-conatiner-padding);
}

.chat-window-messages> :first-child {
    margin-top: auto;
}