.chat-window {
    display: flex;
    height: 100%;
}

.chat-window-inner {
    display: flex;
    flex-direction: column;
    justify-content: end;

    flex: 1;
    padding-left: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;

    overflow: hidden;
}

.chat-window-actions {
    padding: 10px 0;  

    flex: 0;
}

.chat-window-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: end; TO-DO stick to bottom*/ 

    gap: 15px;

    overflow: auto;
    overflow: overlay;
}