.chat-message-wrapper {
    display: flex;
}

.chat-message {
    padding: 1rem 2rem;

    box-shadow: var(--elementShadow);
    border-radius: 1rem;
}

.chat-message-wrapper.self-message {
    justify-content: end;
}

.chat-message-wrapper.self-message .chat-message {
    background: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--white);
}